<!DOCTYPE html>
<html>
<head>
	<title>CRUD</title>
	<% include ../partials/head %>
</head>
<body>
	<header>
		<% include ../partials/header %>
	</header>
	<div class="jumbotron">
		<h1>This the index page</h1>
		<table class="table">
			<thead>
				<tr>
					<th>#</th>
					<th>Name</th>
					<th>gender</th>
					<th>D.O.B</th>
					<th>Email</th>
					<th>Class</th>
				</tr>
			</thead>
			<tbody>
				<% users.forEach(function(user){  %> 
					<tr>
						<td><%= user.name %></td>
					</tr>
				<% }) %>
				

				
			</tbody>

		</table>
	</div>

	<footer>
		<% include ../partials/footer %>
	</footer>
</body>
</html>




