<!DOCTYPE html>
<html>
<head>
	<title>CRUD</title>
	<% include ../partials/head %>
</head>
<body>
	<header>
		<% include ../partials/header %>
	</header>
	<div class="jumbotron">
		<h1>Create an new user</h1>
		<form>
			<input type="text" name="name " required="required">
			<input type="text" placeholder="Class Name" name="class">
			<input type="email" placeholder="Email" name="email"  required="required">
			<select>
			  <option value="male">male</option>
			  <option value="female">female</option>
			</select>

		</form>
	</div>

	<footer>
		<% include ../partials/footer %>
	</footer>
</body>
</html>








